$primary: #31AE54;
$gray: #9E9E9E;
$gray-2: #FAFAFA;
$white: #ffffff;
$black: #000000;
$text: #262626;
$text-2: #292929;
$text-3: #404040;
$border: #F1F1F1;
$border-2: #A6328D;

$font: 'Inter', sans-serif;