ul.avatars-list
    li.avatars-list__item(v-for="(avatar, index) in avatars" :key="`${index}${avatar.name}`")
        avatar(:src="avatar.src" :size="92" withBorder)
        .avatars-list__name {{avatar.name}}