.button {
  display: block;
  padding: 11px;
  background: $primary;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.15px;
  color: $white;

  &__pressed {
    background: $gray;
  }

  &__paddings {
    padding: 6.5px 11px;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__invisible-text {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
  }

  &__hover-text_active {
    position: static;
    opacity: 1;
  }

  &__loading {
    width: 28px;
    height: 28px;
    margin: 0 auto;
    animation: 1s rot linear infinite;
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
