.main-page
    .g-topline
        .g-container
            slot(name="header")
            slot(name="avatars")

    section.main-page__section
        .g-container.g-container_small
            .main-page__repository(v-for="post in posts" :key="post.id" )
                post(:post="post")
                    card(:post="post")