.main-page
    topline
        template(#header)
            slot(name="header")
        template(#avatars)
            slot(name="avatars")

    section.main-page__section
        .g-container.g-container_small
            .main-page__repository(v-for="post in posts" :key="post.id" )
                post(:post="dataForPost(post)")
                    card(:post="dataForCard(post)")