.main-page
    topline
        template(#header)
            x-header
        template(#avatars)
            avatars-list

    section.main-page__section
        .g-container.g-container_small
            .main-page__repository(v-for="post in posts" :key="post.id" )
                post(:post="post")
                    card(:post="post")