ul.navigation
    li.navigation__item
        router-link.navigation__link(to="/")
            icon(name="home")
    li.navigation__item
        avatar(:src="avatarSrc" :size="37")
    li.navigation__item
        a.navigation__link(@click="handlingClickLogout")
            icon(name="signOut")
