ul.navigation
    li.navigation__item
        router-link.navigation__link(to="/")
            icon(name="home")
    li.navigation__item
        avatar(src="https://picsum.photos/300/300" :size="37")
    li.navigation__item
        router-link.navigation__link(to="/")
            icon(name="signOut")
