.post
    .post__user
        user(:src="post.avatar" :name="post.username")
    .post__card
        slot
    .post__issues
        issues(:post="post" @onChange="handlingChangeToggler")

    .post__data {{post.date}}