.stats
    .stats__container.stats__r-border
        .stats__label.stats__r-border
            .stats__icon
                icon(name="star")
            span.stats__text Star
        .stats__value {{star}}
    .stats__container.stats__l-border
        .stats__label.stats__r-border
            .stats__icon
                icon(name="fork")
            span.stats__text Fork
        .stats__value {{fork}}
