.slider {
  overflow: hidden;

  &__container {
    height: 660px;
    position: relative;
    transition: 0.3s;
  }
  &__list {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -188px;
  }

  &__item {
    z-index: -1;
    &_active {
      z-index: 1;
    }
  }
}
